<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="Pathoschild.DesignByContract" version="0.1.4-alpha" />
  <package id="Pathoschild.DesignByContract.Annotations" version="0.1.4-alpha" />
  <package id="Pathoschild.Http.FluentClient" version="0.2.0-alpha" />
  <package id="Pathoschild.Http.Formatters.Core" version="0.2.0-alpha" />
  <package id="Pathoschild.Http.Formatters.JsonNet" version="0.2.1-alpha" />
  <package id="PostSharp" version="2.1.6.17" />
</packages>